<div class="container">
  <h1>All Tasks</h1>

  <div class="table">
    <table class="table table-hover">
      <% @n = 0 %>
      <% @tasks.each do |s| %>
          <% @n = @n + 1 %>
          <tr>
            <td><%= @n %></td>
            <td><%= link_to s.content, s %></td>
            <td>
              <%= link_to 'Edit', edit_task_path(s), :class => "btn btn-success" %>
              <%= link_to 'Delete', task_path(s), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= link_to "Add new task", new_task_path, :class => "btn btn-primary" %>
</div>