<div class="container">
  <h1>Add new statements</h1>
  <%= form_for :task, url: tasks_path, html: { :class => "form-group" } do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_field :content, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :urgent %>
        <%= f.text_field :urgent, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :important %>
        <%= f.text_field :important, :class => "form-control" %>
      </div>
      <%= f.submit "Save", :class => "btn btn-primary btn-lg" %>

  <% end %>
</div>